body{
    background-color: green;
}

.form-main-container {
    display: flex;
    justify-content: center;
}

.form-div {
    /* border: 1px solid black; */
    text-align: center;
    width: 50%;
    border-radius: 25px;
}

.to-do-title {
    /* color: rgb(98, 54, 255); */
    color: white;
}

#task_name_1 {
    outline: none;
    height: 25px;
    border-radius: 0px;
    border: 1px solid black;
}

#add_task_btn {
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    outline: none;
    /* border: 1px solid rgb(47, 112, 255);
    background-color: rgb(47, 112, 255); */
    /* color: white; */
    color: black;
    cursor: pointer;
}

#task_list {
    list-style: none;
    padding: 0%;
}

li{
    background-color: rgb(193, 212, 255);
    color: black;
    padding: 10px;
    border-bottom: 1px solid black;
}